:root {
    --main-color: #0DDE7F;
    --sub-color: #323232;
    --bg-color: #161616;
    --text-color: #EFEFEF;
    --danger-color: #DA4112;

    --add-button-w: 153px;
    --min-width-expense: 112px;
    --max-width-expense: 136px;
}


.date-input-override::-webkit-calendar-picker-indicator {
    filter: invert(1); 
    opacity: 0.5; 
}

.date-input-override {
    color-scheme: dark; 
}


/*blimk animation*/

@keyframes dot-flash {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(1.3);
  }
}

.dot-flash {
  animation: dot-flash 0.6s ease-in-out 3;
}