:root {
    --main-color: #0DDE7F;
    --sub-color: #323232;
    --bg-color: #161616;
    --text-color: #EFEFEF;
    --danger-color: #DA4112;

    --add-button-w: 153px;
    --min-width-expense: 112px;
    --max-width-expense: 136px;
}


.date-input-override::-webkit-calendar-picker-indicator {
    filter: invert(1); 
    opacity: 0.5; 
}

.date-input-override {
    color-scheme: dark; 
}